@media (min-width:1024) {
    .container2 {
        grid-auto-rows: 30rem;
        width: 96%;
      }
    .container3 {
        display: grid;
        gap: 15px;
        grid-auto-rows: 36rem;
        width: 95%;
      }
}
@media (max-width:1023px) {
    .nav_logo {
        padding-left: 20px;
    }
    nav ul li a {
        font-size: 18px;
    }
    .contenido_contacto {
        display: flex;
        flex-direction: column;
    }
    .cajaContacto {
        width: 80%;
    }
    .subtituloProductos {
        font-size: 1.1rem;
    }
    .subtituloServicios {
        font-size: 1.1rem;
    }
    .container2 {
        grid-auto-rows: 30rem;
        width: 96%;
      }
    .container3 {
        display: grid;
        gap: 15px;
        grid-auto-rows: 36rem;
        width: 95%;
      }
}
@media (max-width: 858px) {
    .cajaContacto {
        width: 80%;
    }
    .checkbtn {
        display: block;
    }
    .nav_ul {
        position: absolute;
        width: 100%;
        height: 60vh;
        background: $color-secundario;
        top: 100px;
        right: -110%;
        text-align: center;
        transition: all .5s;
        display: flex;
        flex-direction: column;
    }
    .nav_li {
       display: block;
       height: 100%;
    }
    nav ul li a {
        font-size: 20px;
    }
    li a:hover, li a.active {
        background: none;
        color: $color-principal;
    }
    #check:checked ~ .nav_ul {
        left:0;
    }
    .footer .grupo_1 {
        width: 85%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding: 35px 0px;
    }
    .tituloContacto {
        font-size: 1.6rem;
    }
    .subtituloProductos {
        font-size: 1rem;
    }
    .subtituloServicios {
        font-size: 1rem;
    }
    .container2 {
        grid-auto-rows: 29rem;
        width: 94%;
      }
    .container3 {
        grid-auto-rows: 35rem;
        width: 93%;
      }
}

@media (max-width:480px) {
    .cajaContacto {
        width: 100%;
    }
    .tituloContacto {
        font-size: 1.4rem;
    }
    .subtituloProductos {
        font-size: 1rem;
    }
    .subtituloServicios {
        font-size: 1rem;
    }
    .container2 {
        grid-auto-rows: 28rem;
        width: 91%;
      }
    .container3 {
        grid-auto-rows: 33rem;
        width: 91%;
      }
}
@media (max-width:375px) {
    .tituloContacto {
        font-size: 1.2rem;
    }
    .nav_li {
        display: block;
        line-height: 5px;
     }
     .nav_ul {
        display: fixed;
     }
     .container2 {
        grid-auto-rows: 28rem;
        width: 89%;
      }
     .container3 {
        grid-auto-rows: 33rem;
        width: 89%;
      }
}